@charset "ISO-8859-1";

.aa6122{
	background-color: #aa6122;
	color:white;
}

label {
	font-weight:500!important;
}



#accordion-style-1 {
  padding-left: 50px;
}

section{
	padding: 10px 0;
	margin-bottom: 0 !important;
	padding-left:-10px;
	
}

#accordion-style-1 h1,
#accordion-style-1 a{
    color:#aa6122;
}
#accordionExample{
   padding-bottom: 10px;
  
  
}
#accordion-style-1 .btn-link {
    font-weight: 400;
    color: #aa6122;
    background-color: transparent;
   
    font-size: 16px;
    font-weight: bold;
	padding-left: 25px;
}

#accordion-style-1 .card-body {
    border-top: 2px solid #007b5e;
}

#accordion-style-1 .card-header .btn.collapsed .fa.main{
	display:none;
}

#accordion-style-1 .card-header .btn .fa.main{
	background: #007b5e;
    padding: 13px 11px;
    color: #ffffff;
    width: 35px;
    height: 41px;
    position: absolute;
    left: -1px;
    top: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
	display:block;
}
